.navbar {
  width: 100%;
  background-color: #a1c8fe;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 18px;
  max-height: 140px;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 45px;
}

.navbar a:hover {
  cursor: pointer;
  opacity: 0.65;
}

.links {
  margin-top: 2%;
  margin-left: 60%;
  font-size: 20px;
}

.websitename {
  margin-top: -105%;
  margin-left: 100%;
  font-size: 50px;
}

.active {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}

.u-burger {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin-top: 15px;
}

.navbar #open {
  padding-left: 0px;
}

.navbar #open .hiddenLink {
  display: inherit;
}

.navbar #close .hiddenLink {
  display: none !important;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media screen and (max-width: 1200px) {
  .navbar .links a {
    display: none;
  }
  .u-burger {
    display: inherit;
    margin-left: -450px;
    margin-bottom: 10px;
  }

  .navbar img {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .u-burger {
    margin-left: -150px;
  }
}
